[Unit]
Description= log-file-metric-exporter service watch out change in logfiles written to disk by conmon processes and compute, publish log_logged_bytes_total metric via go based prometheus client
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/log-file-metric-exporter.sh
Restart=on-failure
StartLimitInterval=90
StartLimitBurst=3
PIDFile=/var/run/logfilemetricexporter.pid

[Install]
WantedBy=multi-user.target
